{{page-title "Cart"}}
<h1>Shopping Cart</h1>
<span>Subtotal: </span><span>{{ this.subtotal}}</span>
<br />
<span>Tax: </span><span>{{ this.tax }}</span>
<br />
<span>Total: </span><span>{{ this.total }}</span>
<br />
<button type="button">Checkout</button>
{{outlet}}